@viewport {
	width: device-width ;
	zoom: 1.0 ;
}
:root {
	--newspaper: #f1f1f1;
	--crease: #564e46;
	--nicered: #FF1744;
}
html {
	background-color: var(--newspaper);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
}
body {
	font-family: 'Courier New', monospace;
	min-height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

@-webkit-keyframes blink {
    from {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    51% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}
@keyframes blink {
    from {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    51% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}
#cursor {
    -webkit-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
}

@media screen and (max-width:669px) {
	.container {
		position: absolute;
		width: 100vw;
		margin: 0;
		box-sizing: border-box;
		border: none;
	}
	#picture {
		z-index: -1;
		height: 100vh;
		text-align: left;
		padding: 0;
		/*border-bottom: 5px solid var(--crease);*/
	}
	.helper {
		height: 100%;
		vertical-align: middle;
		display: inline-block;
	}
	#image {
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
	#content {
		top: 20vh;
		background-color: var(--newspaper);
		border-top: 5px solid var(--crease);
		border-bottom: 5px solid var(--crease);
		padding: 5px;
		padding-top: 10px;
	}
	#tagline {
		font-size: .7rem;
		letter-spacing: 2px;
		font-weight: 600;
		margin-bottom: 5%;
		font-family: 'Montserrat';
		color: var(--nicered);
	}
	#main_line {
		margin-bottom: 3%;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 30px;
	}
	
	#shortcuts {
		height: 20px;
		vertical-align: bottom;
		margin-bottom: 10%;
	}
	#shortcuts a {
		vertical-align: bottom;
	}
	.shortcut {
		vertical-align: bottom;
		display: inline-block;
		font-size: 1.5rem;
		color: var(--nicered);
		margin-right: 2vw;
	}

	#status {
		font-size: .5em;
		font-weight: 700;
	}
}

@media screen and (min-width: 670px) {
	.container {
		height: 100vh;
		width: 50%;
		margin: 0;
		box-sizing: border-box;
		border: none;
	}
	#picture {
		text-align: center;
		float: left;
		padding: 3vh;
		border-right: 5px solid var(--crease);
		border-radius: 1%;
	}
	.helper {
		height: 100%;
		vertical-align: middle;
		display: inline-block;
	}
	#image {
		background-color: white;
		padding: 3vh 4vw;
		display: inline-block;
		vertical-align: middle;
		max-height: 90%;
		max-width: 70%;
		border-radius: 50%;
	}
	#content {
		float: right;
		border-left: 5px solid var(--crease);
		border-radius: 1%;
		padding-left: 4vw;
		padding-top: 12vh;
	}

	#tagline {
		font-size: 2.8vh;
		letter-spacing: 0.3vw;
		font-weight: 600;
		margin-bottom: 12.7vh;
		font-family: 'Montserrat';
		color: var(--nicered);
	}
	#main_line {
		margin-bottom: 9vh;
		font-size: 6vh;
		font-weight: 700;
		line-height: 9.5vh;
	}
	
	#shortcuts {
		vertical-align: bottom;
		margin-bottom: 19vh;
	}
	#shortcuts a {
		vertical-align: bottom;
	}
	.shortcut {
		vertical-align: bottom;
		display: inline-block;
		font-size: 5vh;
		color: var(--nicered);
		margin-right: 3vw;
	}

	#status {
		font-size: 2vh;
		font-weight: 700;
	}
}

